{{#partial "content"}}
    <section>
       <div class="row">
           <div class="col-md-5">
               <div class="card lom">
                   <div class="card-body border-0">
                       <h2>Welcome to Hero Squad <img src="/images/1f973.png" alt=""></h2>
                       <h3>Let's make a Hero for you!</h3>
                       <img src="/images/puff.jpeg" alt="" height="400" width="500">
                       <h3>The fun is in the action</h3>

                       <a href="/form" class="btn btn-primary">Create Hero</a>
                   </div>
               </div>
           </div>
        </div>
    </section>
{{/partial}}
{{> layout.hbs}}