body{
   background: rgba(12, 12, 12, 0.849) url("../images/theme.jpeg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   height: 100%;
}