{{#partial "title" }}
    Create your Hero!
{{/partial}}

<!--form.hbs.-->
{{#partial "content"}}

   <div class="card">
       <div class="card-title">
           <h1>Fill to create your hero!</h1>
       </div>
       <div class="card-body">
           <form action='/new/hero' method="post">
               <input type="text" placeholder="Enter hero's name" name="name" required>
               <input type="number" placeholder="Enter age" name="age" required>
               <input type="text" placeholder="Enter hero's power" name="power" required>
               <input type="text" placeholder="Enter hero's weakness" neme="weakness" required>
               <button type="submit" class="btn-success">Submit</button>
           </form>
       </div>
   </div>
    <!--form.hbs.-->
{{/partial}}

{{> layout.hbs}}