{{#partial "content"}}
    <section>
        <div>
            <div>
                <h3>Let's make a Hero for you!</h3>
                <a href="/form" class="btn btn">Create Hero</a>
            </div>
        </div>
    </section>
{{/partial}}
{{> layout.hbs}}