{{#partial "content"}}
    <section>
        <div class="card lom">
            <div class="card-body border-0">
               <h2>Welcome to Hero Squad <img src="/images/1f973.png" alt=""></h2>
                <h3>Let's make a Hero for you!</h3>
                <a href="/form" class="btn btn-primary">Create Hero</a>
            </div>
        </div>
    </section>
{{/partial}}
{{> layout.hbs}}