{{#partial "content"}}
    <section class="landing-pg">
        <div class="land-left">
        </div>
        <div class="land-right">
        </div>
        <div class="card">
            <div class="card-body">
                <h3>Success <br>  <span>{{ item }} </span> <br> Has been created <br>{{squadName}}</h3>
                <img src="/images/cap.jpeg" alt="" height="400" width="400">
                <button type="submit" class="btn btn-light text-white"><a href="/hero">View Heroes</a></button>
                <button type="submit" class="btn btn-light text-white"><a href="/squad">View Squads</a></button>
            </div>
        </div>
    </section>
{{/partial}}
{{> layout.hbs}}